@charset "UTF-8";

#header
{ display: flex;
  justify-content: space-between;
  
/*position: fixed;
  top: 0px;*/
  
  position: sticky;		  /* 해당 요소가 화면에서 나갔을때 위치 고정 */
  top: 0px; 
  
  background: red;
  border-bottom: solid 1px #eeeeee;
  
  z-index: 1;			  /* 다른 요소와 겹쳤을때 배치 우선순위 설정값 */
}

#header .h_menu li
{ display: inline-block; }


.popup{
	width: 20%;
	border: solid 2px #eeeeee;
	
	position: fixed; 	  /* 화면 고정 */
	top: 40%; right: 0px; /* 가장오른쪽 (0px) 위에서부터 50% 지점에 */
	
	/* opacity: 0.5; */	  /* 투명도 [ % , 0~1 사이값을 사용한다 ] */
	
	background-color: transparent; /* 기본값: transparent / 색상없음 / PNG */
}

body{
	background-color: #f4eeff;
}

