@charset "UTF-8";

*{ /* 전체 기본 css */
	margin: 0px; padding: 0px;
	list-style-type: none;
	font-family: 'SUIT-Regular';
}

a{ color: black; text-decoration: none; font-family: 'SUIT-Regular'; }

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* -------------- 헤더 -------------- */
/* 헤더 로그인 프로필 */

.header{
	display: flex;
	justify-content: space-around;
	margin: 20px 0px;
}

.mainlogo{ width: 10%; }
.mainlogo img { width: 100%; }

.mainmenu{ 
	width: 65%;
	display: flex;
    justify-content: center;
    margin: 0px !important;
    font-family: 'SUIT-Regular';
    font-size: 20px;
   	align-items: center;
}
.mainmenu li { margin: 0px 10px; }

.submenu{ 
	width: 25%;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.submenu a { margin-left: 20px; }

/* 1. 헤더 프로필 드롭다운 버튼 */
.hpimgbtn{
	border: none;
    background-color: transparent;
}
.hpimg{ /* 2. 헤더 로그인 프로필 */
	width: 50px;
	height: 50px;
	border: solid 1px #e8e8e8;
	border-radius: 50%; /* 둥근모서리 */
	margin-right: 10px;
}

/* -------------- 내프로필 -------------- */

/* --------------- 본문 --------------- */
html , body {
	height: 100%;
	/* 부모의 사이즈가 존재해야 자식요소의 사이즈 기준점이 부모요소로 사용가능하다 */
	/* 스크롤바제거 */
	-ms-overflow-style: none;
}
/* 브라우저[크롬]의 스크롤바 제거 */
::-webkit-scrollbar{ display: none; }

/* 카카오지도 , 사이드바 구역 */

.search_box{
	position: fixed; 
	left: 70px; top: 40%; 
	width: 200px; height: 200px; 
	background-color: white; 
	z-index: 100;
}

.contentbox{
	display: flex; 
	width: 1400px; height: 100%;
	margin: 70px auto;
	
}

.productlistbox{
	width: 25%;
	height: 100%;
	overflow: scroll
}

/* 제품 1개 구역 */
.productbox{
	display: flex;
	padding: 0px 5px 20px 5px;
	border-bottom: solid 1px #e8e8e8;
	margin-top: 20px;
	width: 100%;	
}

.pimgbox img {
	height: 100px; width: 100px;
	object-fit: cover;
}

.pcontentbox{
	width: 100%;
	padding: 0px 10px;
}
.pname{
	font-weight: bold;
	font-size: 20px;
	/* 내용물이 구역크기보다 커질때 ... */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	max-width: 90%; /* 표현할 최대 사이즈 : 최대 사이즈보다 커지먼 ... */
}
.pprice{
	text-align: right;
	font-size: 25px;
	margin-top: 10px;
	width: 100%;
}
.pdate{
	font-size: 10px;
}
.petc{
	width: 100%;
	font-size: 12px;
	text-align: right;
}




/* ---------- 제품상세 ----------- */
.pviewbox{
	padding: 0px 20px 10px 30px;
}
.pviewinfo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.pbadge{
	background-color: #8080ff;
	border: none;
	border-radius: 5px;
	padding: 3px 10px;
	color: white;
	font-size: 15px;
}

.pstate{
	color: #ff7373;
	font-size: 18px;
	margin-top: 10px;
}

.pcomment{
	margin: 30px 0px;
}
.pviewbtnbox{
	display: flex;
	justify-content: space-between;
	margin: 30px 0px;
}

.likebtn{
	background-color: transparent;
	color : #ff7373;
	border: none;
	width: 48%;
}
.notebtn{
	background-color: #8080ff;
	border: none;
	border-radius: 5px;
	padding: 3px 10px;
	color: white;
	font-size: 15px;
	width: 48%;
}
.carousel-item img {
	height: 300px;
	object-fit : cover;
}


/* ----------- 제품 채팅 ----------- */
.chatbox{
	height: 100%;
	padding: 10px;
}
.chatcontent{
	height: 80%;
	border: solid 1px black;
	padding: 20px;
	overflow : scroll;
	font-size: 14px;
}
.sendbox{
	text-align: right;
	background-color: #ffc2a6;
	border-radius: 5px;
	margin: 5px 0px;
}
.recvbox{
	text-align: left;
	width: 70%;
}

.chatbtn{
	height: 10%;
	display: flex;
	margin-top: 10px;
}
.chatbtn textarea { 
	width: 80%;
	padding: 10px;
	resize: none;
	font-size: 13px;
}
.chatbtn button {
	width: 20%;
	border: none;
	background-color: #8080ff;
	color: white;
	font-size: 13px;
}