@charset "UTF-8";

/* 공통 */
a{ text-decoration : none; color : black; }
*{ padding : 0px; margin : 0px; }


/* 헤더 */
.header{
	width : 1200px; height : 300px;
	margin: 0 auto;
	text-align: right;
	display: flex;
	justify-content: space-between;
	border : solid 1px red ; 
}
.home_button{ 
	width: 20%; height: 50px; 
	border: solid 1px red ; 
	text-align: center;
}

.header_menu a { margin-left : 30px; }


/* 헤더 로그인 프로필 */
.hpimg{
	width: 50px;
	height: 50px;
	border: solid 1px #e8e8e8;
	vertical-align : middle;
	margin-right : 10px; 
	border-radius: 50%; /* 둥근모서리 */
}
