@charset "UTF-8";



/* 게시물 출력 구역 */
.boardbox{
	width: 80%;
	margin: 100px auto;
}

.boardtop{ 
	text-align: center;
	margin: 50px 0px;
}
.boardtop .cname { font-weight: bold; }

.boardtopetc{
	display: flex;
	justify-content: space-between;
}

.writebtn{
	border: none;
	background-color: transparent;
	font-size: 18px;
	color : #8080ff;
	border: none;
	padding : 5px 10px;
	font-weight: bold;
}
.allbtn{
	background-color: transparent;
	border: none;
	color : #8080ff;
	font-size: 18px;
	padding : 5px 10px;
	font-weight: bold;
}


.boardcontent{
    border-top: solid 1px #e8e8e8;
    padding: 30px 0;
}

.bdate{
	font-size: 10px;
	color : gray;
}
.btitle{
	margin: 30px 0px;
	font-weight: bold;
	font-size: 20px;
}

.contentinfo{
	text-align: right;
}
.contentinfo span { padding-left: 10px; }
 

.funcbtn{ display: flex; justify-content: flex-end; }

.pagebox{ 
	width: 100%;
	text-align: center;
	border-top: solid 1px #e8e8e8; 
	padding: 20px 0px;
}
.pagebox button {
	width: 25px;
	margin: 10px;
	background-color: transparent;
	border: none;
}

.searchbox{
	width: 500px;
	display: flex; 
	margin: 10px auto;
	justify-content: center;
	align-items: center;
}

.selectbox{
	margin: 0px;
	padding: 0px;
	
}

.inputbox{
	margin-left: 10px;
	align-items: center;
}



.searchcount{
	margin: 20px 0px;
}

.listsize{
	width: 100px;
	height: 35px;
	border : none;
}


.optionbox{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.seletedpage{
	color : #8080ff;
	font-weight: bold;
}

.key{
	width: 100px;
	height: 35px;
	border : none;
}

.keyword{
	border : none;
	border-bottom : solid 2px #e8e8e8;
	margin: 0px 20px;
}



