@charset "UTF-8";

.wrap { display: flex; }

.content{
	width: 50%;
	border: solid 1px black;
	text-align: center; 
	padding: 20px; 
}
.content h6 {
	text-align: center ;
	font-size: 20px;
	width: 600px; 
	border: solid 1px black;
	margin: 0 auto; 
	margin-bottom: 30px;
	padding: 10px;  
}

.bookInput { margin: 20px; align-items: center; }
.bookInput input { width: 300px; }



table, tr, th, td {
	border: solid 1px black;
	border-collapse: collapse;
	padding: 5px 0px; 
}

.bookList , .cusList { margin: 0 auto; width: 80%; text-align: center; }


.on { color : red; }
.off { color : blue; }