@charset "UTF-8";


/* 메인 이미지 */
.sub_img
{ width: 100%; height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#sub_img1{
background-image: url("../img/sub_intro.jpg");
}

.sub_img h3
{ font-size: 25px; margin-bottom: 5px; }

.sub_img p
{ font-size: 15px; }
/* ============================================== */


/* 컨텐츠1 */
#intro_content
{ width: 1200px; margin: 0 auto;
  display: flex; justify-content: space-between;
  padding: 100px 0px;
}

#intro_content img
{ width: 580px ;}

#intro_content ul
{ margin-left: 30px; }

#intro_content h2
{ padding-bottom: 10px; }

#intro_content p
{ padding-bottom: 20px; font-weight: bold; }

#intro_content li
{ padding-bottom: 20px; }

/* ============================================== */


/* 컨텐츠2 */
#cont_back
{ background-color: #f9f9f9; }

#intro_content2
{ width: 1200px; margin: 0 auto;
  display: flex; justify-content: space-between;
  padding: 100px 0px;
}

#intro_content2 img
{ width: 580px;}

#intro_content2 ul
{ margin-right: 30px; }

#intro_content2 h2
{ padding-bottom: 10px; }

#intro_content2 p
{ padding-bottom: 20px; font-weight: bold; }

#intro_content2 li
{ padding-bottom: 20px; }
/* ============================================== */















