@charset "UTF-8";

@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 기본값 */
*{ font-family: '맑은 고딕'; color: black; margin: 0px; padding: 0px; }


/* 로고 구역 */
.logobox{
	text-align: center;
}



/* 로고 제목 */
.title{
	font-family: 'RixInooAriDuriR' ;
	color: black ;
	font-size: 40px; 
}


/* 하단 메뉴 top 위치 변경 */
.h_bottom{ top: 45px !important;} /* 부트스트랩보다 우선순위 */

/* 부트스트랩 class의 속성 수정 */
.nav-link{
	color: black !important;
}

.h_topmenu{ width: 100%; display: flex; justify-content: flex-end; font-size: 10px; }
.h_bottommenu{ width: 100%; display: flex; justify-content: space-between; font-size: 15px; }





